* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 1.1 em;
    text-align: center;
}

.personal-web header {
    padding: 0, 20px;
    font-size: x-large;
}

.personal-web footer,
.pw-sidebar,
.personal-web-content {
    padding: 20px;
}

.personal-web header,
.personal-web footer {
    background-color: slategrey;
}

.pw-sidebar{
    background-color: blue;
}

.personal-web-content {
    background-color: darkcyan;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: xx-large;
    padding-left: 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}

.personal-web {
    min-height: 100vh;
}

.personal-web, .personal-web-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.personal-web-content {
    flex: 1 1 auto;
}

.personal-web-sidebar-1 {
    order: -1;
}

@media (min-width: 768px) {
    .personal-web-body {
        flex-direction: row;
    }

    .pw-sidebar {
        flex: 0 0 260px;
    }
}

.personal-about header {
    padding: 0, 20px;
    font-size: x-large;
}

h3 {
    text-decoration: underline;
}

h4 {
    text-align: left;
    text-decoration: underline;
}

.personal-about footer,
.pa-sidebar,
.personal-about-content {
    padding: 20px;
}

.personal-about header,
.personal-about footer {
    background-color: slategrey;
}

.pa-sidebar{
    background-color: blue;
}

.personal-about-content {
    background-color: darkcyan;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.personal-about {
    min-height: 100vh;
}

.personal-about, .personal-about-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.personal-about-content {
    flex: 1 1 auto;
}

.personal-about-sidebar-1 {
    order: -1;
}

@media (min-width: 768px) {
    .personal-about-body {
        flex-direction: row;
    }

    .pa-sidebar {
        flex: 0 0 260px;
    }
}

.personal-portfolio header {
    padding: 0, 20px;
    font-size: x-large;
}

.personal-portfolio footer,
.pp-sidebar,
.personal-portfolio-content {
    padding: 20px;
}

.personal-portfolio header,
.personal-portfolio footer {
    background-color: slategrey;
}

.pp-sidebar{
    background-color: blue;
}

.personal-portfolio-content {
    background-color: darkcyan;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.personal-portfolio {
    min-height: 100vh;
}

.personal-portfolio, .personal-portfolio-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.personal-portfolio-content {
    flex: 1 1 auto;
}

.personal-portfolio-sidebar-1 {
    order: -1;
}

@media (min-width: 768px) {
    .personal-portfolio-body {
        flex-direction: row;
    }

    .pp-sidebar {
        flex: 0 0 260px;
    }
}

.personal-contact header {
    padding: 0, 20px;
    font-size: x-large;
}

.personal-contact footer,
.pc-sidebar,
.personal-contact-content {
    padding: 20px;
}

.personal-contact header,
.personal-contact footer {
    background-color: slategrey;
}

.pc-sidebar{
    background-color: blue;
}

.personal-contact-content {
    background-color: darkcyan;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

a:hover {
    background-color: darkorange;
}

.personal-contact {
    min-height: 100vh;
}

.personal-contact, .personal-contact-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.personal-contact-content {
    flex: 1 1 auto;
}

.personal-contact-sidebar-1 {
    order: -1;
}

@media (min-width: 768px) {
    .personal-contact-body {
        flex-direction: row;
    }

    .pc-sidebar {
        flex: 0 0 260px;
    }
}